# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov
.nyc_output/

# Dependency directories
node_modules/
jspm_packages/
bower_components/
web_modules/

# Build outputs
dist/
build/
.next/
.nuxt/
out/

# TypeScript
*.tsbuildinfo

# Caches
.cache/
.parcel-cache/
.npm/
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Environment variables
.env
.env.test

# Prisma generated (ajusta se necessário)
generated/prisma/
# ou usa:
# prisma/generated/

# VS Code (mantém configs úteis)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Misc
*.tgz
.yarn-integrity
.node_repl_history
.tern-port
.serverless/
.fusebox/
.dynamodb/
.vscode-test/

# Yarn v2
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

/generated/prisma
